AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_DEFAULT_REGION=us-east-2

DISCOVERY_URL=https://ijtestcustom.oktapreview.com/.well-known/openid-configuration
OKTA_AUDIENCE=0oaw5jnp1nVVc1gJt1d7
HR_MCP_GATEWAY_URL=
MODEL_ID=us.anthropic.claude-3-5-haiku-20241022-v1:0

ATTACH_INTERCEPTOR=true
GATEWAY_ID=
GATEWAY_NAME=
GATEWAY_ROLE_ARN=
INTERCEPTOR_LAMBDA_ARN=

AGENT_RUNTIME_ARN=
